body {
    background-color: #0000ff;
    font-family: 'Lobster', cursive;
}

img{
	display: block;
}


#title {
	background: red;
	width: 800px;
	padding-left: 10px;
	padding-bottom: 15px;
	border-radius: 5px;
}
#main {
	background: white;
	width: 600px;
	padding: 15px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 5px;
}

#main h2 {
	color: blue;
}
